@model IMS.Models.Warehouse

@{
    ViewData["Title"] = "Warehouse Details";
}

<h1>Warehouse Details</h1>

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Location</dt>
        <dd class="col-sm-10">@Model.Location</dd>

        <dt class="col-sm-2">Storage Capacity</dt>
        <dd class="col-sm-10">@Model.StorageCapacity</dd>
    </dl>
</div>

<p>
    <a asp-action="Edit" asp-route-id="@Model.WarehouseId" class="btn btn-warning">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</p>
